.main-container {
    position: relative;
    overflow: hidden;
    background-color: black;
    padding: 40px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    filter: blur(20px);
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(9, 9, 11, 0.4), #09090b);
    z-index: 1;
}

.game-container {
    @apply relative p-4 z-20 flex flex-col gap-2
}

.game-container .title-container {
    @apply flex flex-col
}

.game-container .title-container h1 {
    @apply text-2xl font-bold
}

.game-container .title-container h2 {
    @apply text-zinc-300 text-xl
}

.platform-badge {
    @apply text-zinc-300 font-medium text-xs border px-1 border-zinc-400 uppercase
}

.buy-container {
    @apply flex flex-row gap-2 mt-4 justify-between items-end
}

.price-information-container div {
    @apply flex flex-row items-end gap-2
}

.price-information-container div .original-price {
    @apply line-through text-zinc-500
}

.price-information-container div .current-price {
    @apply text-2xl font-bold
}

.price-information-container div .offer {
    @apply text-zinc-400 text-sm
}

.price-information-container .btn-container {
    @apply flex flex-col justify-center
}

.btn-primary {
    @apply bg-white text-black p-2 rounded-md flex flex-row gap-2
}