.main-container {
    position: relative;
    overflow: hidden;
    background-color: black;
    padding: 40px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    filter: blur(20px);
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(9, 9, 11, 0.7), #09090b);
    z-index: 1;
}

.game-container {
    @apply relative p-4 z-20 flex flex-col gap-2
}

.game-container .title-container {
    @apply flex flex-col
}

.game-container .title-container h1 {
    @apply text-2xl font-bold self-center
}

.game-container .title-container h2 {
    @apply text-zinc-300 text-xl self-center
}

.platform-badge {
    @apply text-zinc-300 font-medium text-xs border px-1 border-zinc-400 uppercase
}

.trophies-container {
    @apply px-16 pb-12
}

.trophies-container h1 {
    @apply text-xl font-semibold
}

.trophy-list {
    @apply flex flex-col gap-4 mt-8
}

.trophy-list li {
    @apply flex flex-row gap-2 justify-between items-center
}